.header{
    padding-bottom: 3px;
    border-bottom: 2px solid $header-line-color;
    padding-right: 10px;
}

.name-container{
	height: 100px;
	font-family: $header-title-family;
	font-size: $header-title-size;
}


.picture{
	border-radius: 50%;
	float: left;
	height: 100px;
	margin-right: 20px;
}

.header-icons{
	font-size: $header-icon-size;
	float: right;
    height: 100px;
    padding-right: 18px;
}

.icon-space{
    padding-top: 2px;
    padding-bottom: 2px;
}