.header{
	padding-top: 15px;
    padding-bottom: 3px;
    border-bottom: 1px solid $header-line-color;
    padding-right: 0px;
    margin:0;
}

.name-container{
	height: 100px;
	font-family: $header-title-family;
	font-size: $header-title-size;
}


.flex-lefth{
	flex: 0 0 14.3%;
}

.flex-righth{
	flex: 0 0 82%;
}

.picture{
	border-radius: 50%;
	float: left;
	height: 100px;
	margin-right: 20px;
}

.header-icons{
	font-size: $header-icon-size;
	float: right;
    height: 100px;
}

.icon-space{
    padding-top: 2px;
    padding-bottom: 2px;
}