.resume{
	background-color: $body-background;
	width: 100%;
}

.date {
	font-weight: $date-weight;
}

.main-container{//the actual content for the resume
	overflow: hidden;
	background-color: $resume-background;
	height: 10in;
	width: 8in;
    padding: 0.25in .25in .5in .25in;
    margin: 0 auto;
}

.main-content{
	display: flex;
}

.left-column {
	word-wrap: normal;
	flex: 0 0 62%;
}

.right-column {
	word-wrap: normal;
	flex: 0 0 36%;
	margin-left: 20px;
    font-size: $base-font-size;
    font-family: $base-font-family;
}

.flex-left{
	overflow: hidden;
    margin-right: 20px;
	order: 1;
	flex: 0 0 15.3%;
	//background-color: $left-column;
}

.flex-right{
	order: 2;
	flex: 0 0 82%;
    padding-top: 13px;
    padding-right: 0;
    margin-right: 0;
    font-size: $base-font-size;
    font-family: $base-font-family;
}

.page-title-container{
	overflow: hidden;
}

.same-line{
	display: inline-block;
}