.title{
    margin: 0;
    padding-top: 7px;
    font-weight: $title-weight;
    font-size: $title-size;
}

.subtitle{
    font-weight: $sub-title-weight;
    font-style: italic;
}

.courses{
    padding-left: 30px;
}

.info{
    font-weight: $info-weight;
    font-size: $info-size;
    margin-right: 15px;
    padding-bottom: 3px;
}

.info-list{
    font-weight: $info-weight;
    font-size: $info-size;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.school-name{
    font-weight: $school-weight;
    font-size: $school-size;
    color: $school-color;
}

.space{
    padding-bottom: 5px;
}