.resume{
	overflow: hidden;
	background-color: $body-background;
	height: 100%;
	width: 100%;
}

.main-container{//the actual content for the resume
	overflow: hidden;
	background-color: $resume-background;
	height: 100%;
	width: 700px;
    padding: 0 25px;
    margin: 0 auto;
    display: flex;
}

.flex-15{
	overflow: hidden;
    margin-right: 10px;
	order: 1;
	flex: 0 0 15%;
	background-color: $left-column;
}

.flex-85{
	order: 2;
	flex: 0 0 85%;
    padding-top: 15px;
}

.page-title-container{
	overflow: hidden;
}

.same-line{
	display: inline-block;
}