
$body-background: #1f1f1f;
$resume-background: #fff;
$left-column: #22A7F0;
$header-line-color: #dadce0;
$header-bold-color: #22A7F0;
$header-thin-color: #03A9F4;
$school-color: $header-thin-color;
$languages-color: #7f8c8d;
$class-color: #59ABE3;