//font imports
@import url('https://fonts.googleapis.com/css?family=Raleway:300,900');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Nunito);
//Base font
$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 1.5vw;

//header title font
$header-title-size: 30pt;
$header-title-family: 'Raleway';
$first-name-weight: 900;
$last-name-weight: 300;

//title font
$title-font-size: 12vw;
$title-font-family: 'Nunito';


//desc font
$desc-font-size: 1.3vw;
$desc-font-weight: 200;

//icon font size
$icon-size: 1.75vw;