//font imports
@import url('https://fonts.googleapis.com/css?family=Raleway:300,900');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Nunito);
//Base font
$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 1.5vw;

//header title font
$header-title-size: 30pt;
$header-title-family: 'Raleway';
$first-name-weight: 900;
$last-name-weight: 300;

//icon font size
$header-icon-size: 10pt;