//font imports
@import url('https://fonts.googleapis.com/css?family=Raleway:300,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,300i,400,400i,500,600,800');
//Base font
$base-font-family: 'Open Sans';
$base-font-size: 13px;

//header title font
$header-title-size: 35pt;
$header-title-family: 'Open Sans';
$first-name-weight: 900;
$last-name-weight: 300;

//icon font size
$header-icon-size: 10.25pt;

//main portion of resume
$title-size: 15px;
$title-weight: 600;
$sub-title: 13px;
$sub-title-weight: 400;
$info-weight: 300;
$info-size: 12px;
$languages-weight: 300;
$class-weight: 400;
$school-weight: 500;
$school-size: 13px;
$date-weight: 200;